*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #202124;
}

.hero{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-container{
  align-items: center;
  padding: 15px;
}

.options{
  float: right;
  padding-left: 32px;
  margin-right: 25px;
  margin-top: 10px;
}

.options a{
  margin-right: 21px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container{
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.logo-container img{
  max-height: 92px;
  transform: translateY(-200px);
}

@media (max-width:1080px) {
  .options{
    margin-right: 15px;
    margin-top: 6px;
  }
  .options a{
    font-size: 16px;
    margin-right: 20px;
  }
  .logo-container img{
    transform: translateY(-210px);
  }
}

@media (max-width:768px) {
  .options{
    margin-right: 12px;
    margin-top: 4px;
  }
  .options a{
    font-size: 14px;
    margin-right: 23px;
  }
  .logo-container img{
    max-height: 72px;
    transform: translateY(-210px);
  }
}

@media (max-width:640px) {
  .options{
    margin-right: 6px;
    margin-top: 0px;
    padding:0px;
  }
  .options a{
    font-size: 11px;
    margin-right: 20px;
  }
  .logo-container img{
    max-height: 60px;
    transform: translateY(-248px);
  }
}

input[type="text"]{
  border-radius: 50px;
}
