*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #202124;
}

.hero{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-container{
  align-items: center;
  padding: 15px;
}

.options{
  float: right;
  padding-left: 32px;
  margin-right: 30px;
  margin-top: 10px;
}

.options a{
  margin-right: 18px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

/* .logo{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.logo-container{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.logo-container h2{
  font-family: 'PT Sans', sans-serif;
  font-size: 100px;
  color: white;
  font-weight:600;
  transform: translateY(-220px);
}

input[type="text"]{
  border-radius: 50px;
}
