*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #202124;
}

body{
  font-family: arial,sans-serif;
}

.hero{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-container{
  align-items: center;
  padding: 15px;
}

.options{
  float: right;
  padding-left: 32px;
  margin-right: 25px;
  margin-top: 10px;
}

.options a{
  margin-right: 21px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.logo-container img{
  max-height: 92px;
  transform: translateY(-215px);
}

.searchBox{
  color: white;
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transform: translateY(300px);
}

.searchBox input{
  border: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
  color: white;
}

.searchBox input[type="text"]{
  background: #202124;
  display: flex;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  width: 584px;
  outline: none;
}

.searchBox input[type="text"]:hover{
  background:#303134;
}

.submitbtn:hover{
  border: 1px solid #5f6368;
}

.div1{
  padding-top: 18px;
  top: 53px;
  height: 70px;
}

.div1 input[type="submit"] {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.div1 .submitbtn:hover {
  background: #5f6368;
  transition: ease .3s;
}

.appbar{
  color: #f28b82;
  font-size: 20px;
  margin: 25px 35px;
}
.line{
  border-color: #3c4043;
  border-bottom: 1px solid grey;
}

.Mza7yc{
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}

.span1{
  color: #e8eaed;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 10px;
}

.ad-container{
  width: 100%;
  clear: both;
}

.insert{
  clear: both;
}

.text{
  color: #bdc1c6;
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;

}

.jj{
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.insertbar{
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}

.in-container{
  padding-right: 16px;
}

input.text-input{
  background: #202124;
  border: 1px solid #5f6368;
  color: #bdc1c6;
  width: 100%;
  text-align: left;
  border-radius: 1px;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.adv-btn{
  float: right;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}


@media (max-width:1080px) {
  .options{
    margin-right: 15px;
    margin-top: 6px;
  }
  .options a{
    font-size: 16px;
    margin-right: 20px;
  }
  .logo-container img{
    transform: translateY(-180px);
  }
  .searchBox {
   transform: translateY(300px);
  }
}

@media (max-width:768px) {
  .options{
    margin-right: 12px;
    margin-top: 4px;
  }
  .options a{
    font-size: 14px;
    margin-right: 23px;
  }
  .logo-container img{
    max-height: 72px;
    transform: translateY(-240px);
  }
  .searchBox{
    transform: translateY(225px);
  }
  .searchBox input[type="text"]{
    width: 450px;
    height: 35px;
  }
  .div1{
    padding-top: 15px;
  }
  .div1 input[type="submit"]{
    font-size: 11px;
    height: 30px;
    padding: 0 12px;
    margin: 11px 0px;
  }
}

@media (max-width:640px) {
  .options{
    margin-right: 6px;
    margin-top: 0px;
    padding:0px;
  }
  .options a{
    font-size: 11px;
    margin-right: 20px;
  }
  .logo-container img{
    max-height: 60px;
    transform: translateY(-275px);
  }
  .searchBox{
   transform: translateY(180px);
  }
  .searchBox input[type="text"]{
    width: 384px;
    height: 30px;
  }
  .div1{
    padding-top: 10px;
  }
  .div1 input[type="submit"]{
    font-size: 10px;
    height: 26px;
    padding: 0 10px;
    margin: 10px 0px;
  }
}
